.jumbotron-yale {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    /*background-color: #e9ecef;*/
    background-color: #dddddd;
    border-radius: 0.3rem;
}

.yale-blue-text {
	color: #00356b;
}

.home-facet-link-yale {
	font-size: 13px;
}

.more-facet-link-yale {
	font-size: 13px;
}